// Demonstrates how to extend the base theme and add your own styles

// NOTE: the base theme is a very basic theme, with as little as possible in the way of
// opinionated design decisions. This makes it a good base for visually distinctive themes
// that look very different to the provided themes (Alpine, Balham, Material).

// ag-grid.scss defines structural styles and should be imported first
@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-base/sass/ag-theme-base-mixin.scss";
@import "~ag-grid-community/src/styles/webfont/agGridAlpineFont.scss";

.ag-theme-custom-example {
  // pass parameters to the base theme to control look and feel
  @include ag-theme-base((
    grid-size: 10px,
    icon-size: 16px,

    icons-data: null, // don't use the icon font data from the base theme
    icon-font-family: "agGridAlpine" // use the Alpine icon font
  ));

  // add CSS rules to implement styles not covered by the base theme parameters
  .ag-column-drop {
    background-color: lightgreen;
  }
}

// for example purposes, remove margin and padding of the grid and also removing the outline from focused items.
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  *:focus {
    outline: none;
  }
}
