// Demonstrates how to create a custom theme without extending a provided theme, using
// only the base theme (ag-grid.css).

// NOTE: the base theme is a very basic theme, with as little as possible in the way of
// opinionated design decisions. This makes it a good base for visually distinctive themes
// that look very different to the provided themes (Alpine, Balham, Material).

@use "~ag-grid-community/styles" as ag;

@include ag.grid-styles((
  // include multiple theme files and set specific parameters on each
  theme: custom-example,

  // Choose an icon font
  icon-font-family: "agGridAlpine",

  // Remove all native widget styling from the grid. This is
  // useful if you want to make your own styles starting from a blank slate.
  suppress-native-widget-styling: "true"
));

// More kinds of customisation can be made with CSS rules
.ag-theme-custom-example .ag-header-cell {
  font-style: italic;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
