// ag-grid.scss defines structural styles and should be imported first
@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-custom-react {
  @include ag-theme-alpine((
    odd-row-background-color: #f5f5f5,
    row-border-color: transparent,
    row-hover-color: null,
    checkbox-checked-color: #2661ad,
    range-selection-border-color: #ff00b1,
    range-selection-background-color: #03305633,
    header-height: 80px
  ));

  .ag-menu-option-active {
    background-color: #2661ad;
    color: white;
  }
}