// This file recreates the old "fresh" theme that was removed in v23, and re-implements it as a custom
// theme extending ag-theme-base.

// ag-grid.scss defines structural styles and should be imported first
@import '~ag-grid-community/src/styles/ag-grid.scss';
@import '~ag-grid-community/src/styles/ag-theme-base/sass/ag-theme-base.scss';

.ag-theme-fresh {
  @include ag-theme-base((
    "foreground-color": #000,
    "background-color": #FFF,
    "odd-row-background-color": #f6f6f6,
    "input-disabled-background-color": #ebebeb,
    "border-color": darkgrey,
    "cell-horizontal-border": dotted darkgrey,
    "header-cell-moving-background-color": #bebebe,
    "control-panel-background-color": #f6f6f6,
    "range-selection-highlight-color": rgba(#8F8, 0.4),
    "value-change-delta-up-color": darkgreen,
    "value-change-delta-down-color": darkred,
    "value-change-value-highlight-background-color": #cec,
    "input-border-color": #000,
    "header-column-separator": true,
    "row-border-color": null,
    "subheader-background-color": #ececec,
    "selected-row-background-color": #bde2e5
  ));

  .ag-icon {
    color: #333;
  }

  .ag-tab {
    border: 1px solid transparent;
    padding: ag-param(grid-size) ag-param(grid-size) * 2;
    margin: ag-param(grid-size);
    margin-bottom: -1px; // shift down 1px to make tab background blend with area below
  }

  .ag-tabs-body {
    margin: ag-param(grid-size) / 2 0;
  }

  .ag-icon {
    margin: 1px 1px 2px 1px;
  }

  .ag-tab-selected {
      background-color: ag-param(background-color);
      border-color: ag-param(border-color);
      border-bottom-color: transparent;
  }

  .ag-tabs-header {
      background-color: ag-param(header-background-color);
      border-bottom: 1px solid ag-param(border-color);
  }

  .ag-filter .ag-filter-apply-panel {
    justify-content: flex-start;
  }

  .ag-menu-option-active {
    background-color: ag-param(selected-row-background-color);
  }

  .ag-header, .ag-column-drop-cell {
    background-image: linear-gradient(white, lightgrey);
  }

  .ag-column-drop-cell {
    border: 1px solid ag-param(border-color);
    border-radius: 0;
  }

  .ag-column-drop-cell-button .ag-icon {
    border: 1px solid transparent;
  }

  .ag-column-drop-cell-button:hover .ag-icon {
    border-color: ag-param(border-color);
  }

  .ag-panel-title-bar-button-icon {
    font-size: 20px;
    line-height: 20px;
  }

  .ag-menu-option-part {
      padding-top: ag-param(grid-size);
      padding-bottom: ag-param(grid-size);
  }

  .ag-column-drop-vertical-title-bar {
    margin-top: ag-param(grid-size);
    margin-left: ag-param(grid-size);
  }
  .ag-column-drop-vertical-title {
    margin-left: ag-param(grid-size);
  }
  .ag-column-drop-vertical-empty-message {
    margin-left: ag-param(grid-size) * 3 + ag-param(icon-size)
  }
}
