<ag-grid-angular 
    #agGrid
    style="width: 100%; height: 100%;" 
    class="ag-theme-custom-angular"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [autoGroupColumnDef]="autoGroupColumnDef"
    rowSelection="multiple"
    enableCharts="true"
    rowDragManaged="true"
    enableRangeSelection="true"
    animateRows="true"
    enableMultiRowDragging="true"
    rowGroupPanelShow="always"
    pivotPanelShow="always"
    enableStatusBar="true"
    [sideBar]="sideBar"
    >
</ag-grid-angular>