// Customize the look and feel of the grid with Sass variables
// Up-to-date list of variables is available in the source code: 
//  * Classic Themes (ag-theme-fresh, ag-theme-blue, ag-theme-dark, ag-theme-bootstrap):  https://github.com/ag-grid/ag-grid/blob/latest/src/styles/theme-fresh.scss
//  * Balham Themes (ag-theme-balham, ag-theme-balham-dark): https://github.com/ag-grid/ag-grid/blob/latest/packages/ag-grid-community/src/styles/_ag-theme-balham-vars.scss
//  * Material Theme: https://github.com/ag-grid/ag-grid/blob/latest/packages/ag-grid-community/src/styles/ag-theme-material.scss

$icons-path: "~ag-grid-community/src/styles/balham-icons/";

// changes the border color
// $border-color: #FF0000;

// Changes the font size
// $font-size: 12px;

// Changes the font family
// $font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

// Reverts the cell horizontal padding change between ag-fresh and ag-theme-fresh
// $cell-horizontal-padding: 2px;

// changes the default icon color
$icon-color: #ec44aa;
// changes the selected checkbox color
$accent-color: #ffa000;

@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-balham.scss";

// for example purposes, remove margin and padding of the grid
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
