@use "../node_modules/@ag-grid-community/styles" as ag;

@use "sass:meta";

@include ag.grid-styles((
  // include multiple theme files and set specific parameters on each
  themes: (
    alpine: (header-background-color: #DA9),
    alpine-dark: (header-background-color: #642),
  ),
  // setting this will use color blending to update various other colors just like
  // the old Sass mixins, eg. the row hover color will be set to a light pink
  alpine-active-color: red,
  header-height: 80px,
  row-height: 60px,
  // Uncomment this to remove all native widget styling from the grid. This is
  // useful if you want to make your own styles starting from a blank slate.
  // suppress-native-widget-styling: "true"
));

.ag-group-title-bar {
  background-color: lightgreen;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

